{% extends "base.html" %}
{% load static %}

{% block title %}
<title>
    Grupo {{ grupo.numero }} · Matemágicas
</title>
{% endblock %}

{% block main %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<nav class="navbar navbar-expand-lg mb-3" data-bs-theme="dark">
    <div class="container-fluid">
        <span class="navbar-brand fs-1 fw-semibold">Dashboard de {{ request.user.first_name }}</span>
        <a class="navbar-brand logo ms-auto" href="/"><img src="{% static 'svg/matemagicas-logo.svg' %}" height="70" draggable="false"></a>
    </div>
</nav>

<div>
    <h1 class="text-white ps-3">Grupo {{ grupo.numero }}</h1>
</div>

<div>
    <h1 class="text-white ps-3">Alumnos:</h1>
    <div class="container-fluid d-flex flex-wrap mb-5">
        {% for alumno in alumnos %}
            <a href="/dashboard/{{ grupo.numero }}/{{ alumno.num_lista }}" type="button" class="btn px-4 me-3 mb-4 fs-2 fw-medium text-center form-control-lg rounded-pill btn-light shadow">{{ alumno.num_lista }}. {{ alumno.first_name }} {{ alumno.last_name }}</a>
        {% endfor %}
    </div>
</div>

<h2 class="ps-3 text-white">Promedio de aciertos en el nivel 3: <strong>{{ promedio3 }}</strong></h2>

<div class="row mt-3">
    <div class="bg-light mb-5 rounded-3 col mx-2 p-3">
        <h3 class="ps-3 text-center">Promedio nivel 1: <strong>{{ promedio1 }}</strong></h2>
        <canvas id="intentos_grupo_1" height="300"></canvas>
    </div>
    <div class="bg-light mb-5 rounded-3 col mx-2 p-3">
        <h3 class="ps-3 text-center">Promedio nivel 2: <strong>{{ promedio2 }}</strong></h2>
        <canvas id="intentos_grupo_2" height="300"></canvas>
    </div>
    <div class="bg-light mb-5 rounded-3 col mx-2 p-3">
        <h3 class="ps-3 text-center">Promedio nivel 3: <strong>{{ promedio3 }}</strong></h2>
        <canvas id="intentos_grupo_3" height="300"></canvas>
    </div>
</div>

<script>
    $.getJSON('/intentos_grupo/{{ grupo.numero }}/1', function(data) {
        var datos = data.intentos;
        var aciertos = datos.map(function(d) { return d.aciertos });

        var fechas = datos.map(function(d) { return new Date(d.timestamp) });

        const ctx = document.getElementById('intentos_grupo_1');
        new Chart(ctx, {
            type: 'scatter',
            data: {
                labels: fechas,
                datasets: [{
                    label: 'Intento',
                    data: aciertos,
                    backgroundColor: 'rgba(255, 99, 132, 0.5)'
                }]
            },
            options: {
                scales: {
                    x: {
                        display: false
                    },
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: "Intentos y aciertos del grupo {{ grupo.numero }} en el nivel 1"
                    },
                    legend: {
                        position: 'bottom'
                    }
                }
            }
        });
    });
</script>

<script>
    $.getJSON('/intentos_grupo/{{ grupo.numero }}/2', function(data) {
        var datos = data.intentos;
        var aciertos = datos.map(function(d) { return d.aciertos });

        var fechas = datos.map(function(d) { return new Date(d.timestamp) });

        const ctx = document.getElementById('intentos_grupo_2');
        new Chart(ctx, {
            type: 'scatter',
            data: {
                labels: fechas,
                datasets: [{
                    label: 'Intento',
                    data: aciertos,
                    backgroundColor: 'rgba(255, 99, 132, 0.5)'
                }]
            },
            options: {
                scales: {
                    x: {
                        display: false
                    },
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: "Intentos y aciertos del grupo {{ grupo.numero }} en el nivel 2"
                    },
                    legend: {
                        position: 'bottom'
                    }
                }
            }
        });
    });
</script>

<script>
    $.getJSON('/intentos_grupo/{{ grupo.numero }}/3', function(data) {
        var datos = data.intentos;
        var aciertos = datos.map(function(d) { return d.aciertos });

        var fechas = datos.map(function(d) { return new Date(d.timestamp) });

        const ctx = document.getElementById('intentos_grupo_3');
        new Chart(ctx, {
            type: 'scatter',
            data: {
                labels: fechas,
                datasets: [{
                    label: 'Intento',
                    data: aciertos,
                    backgroundColor: 'rgba(255, 99, 132, 0.5)'
                }]
            },
            options: {
                scales: {
                    x: {
                        display: false
                    },
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: "Intentos y aciertos del grupo {{ grupo.numero }} en el nivel 3"
                    },
                    legend: {
                        position: 'bottom'
                    }
                }
            }
        });
    });
</script>

<div class="container-fluid d-flex">
    <a href="/dashboard" type="button" class="btn px-4 ms-auto mb-5 fs-2 fw-medium text-center form-control-lg rounded-pill btn-light shadow">Regresar</a>
</div>

{% endblock %}