{% extends "base.html" %}
{% load static %}

{% block title %}
<title>
    Dashboard · Matemágicas
</title>
{% endblock %}

{% block main %}

<nav class="navbar navbar-expand-lg mb-3" data-bs-theme="dark">
    <div class="container-fluid">
        <span class="navbar-brand fs-1 fw-semibold">dashboard de {{ request.user.first_name }}</span>
        <a class="navbar-brand logo ms-auto" href="/"><img src="{% static 'svg/matemagicas-logo.svg' %}" height="70" draggable="false"></a>
    </div>
</nav>

<div class="container-fluid d-flex">
    {% for numero in numeros %}
    <button type="button" class="btn px-4 me-3 fs-2 fw-medium text-center form-control-lg rounded-pill btn-light shadow">grupo {{ numero }}</button>
    {% endfor %}
</div>

{% endblock %}