{% extends "base.html" %}
{% load static %}

{% block title %}
<title>
    Grupo {{ grupo.numero }} · Matemágicas
</title>
{% endblock %}

{% block main %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<nav class="navbar navbar-expand-lg mb-3" data-bs-theme="dark">
    <div class="container-fluid">
        <span class="navbar-brand fs-1 fw-semibold">dashboard de {{ request.user.first_name }}</span>
        <a class="navbar-brand logo ms-auto" href="/"><img src="{% static 'svg/matemagicas-logo.svg' %}" height="70" draggable="false"></a>
    </div>
</nav>

<div>
    <h1 class="text-white ps-3">grupo {{ grupo.numero }}</h1>
    <h1 class="text-white ps-3">alumno: {{ alumno.first_name }} {{ alumno.last_name }}</h1>
</div>

<div class="bg-light mt-3 mb-5 rounded-3">
    <canvas id="intentos_alumno" height="100"></canvas>
</div>
<script>
    $.getJSON('/intentos_alumno/{{ grupo.numero }}/{{ alumno.num_lista }}', function(data) {
        var datos = data.intentos;
        var aciertos = datos.map(function(d) { return d.aciertos });

        var fechas = datos.map(function(d) { return new Date(d.timestamp) });

        const ctx = document.getElementById('intentos_alumno');
        new Chart(ctx, {
            type: 'scatter',
            data: {
                labels: fechas,
                datasets: [{
                    label: 'Aciertos',
                    data: aciertos,
                    backgroundColor: 'rgba(255, 99, 132, 0.5)'
                }]
            },
            options: {
                scales: {
                    x: {
                        display: false
                    },
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: "Intentos y aciertos de {{ alumno.first_name }} {{ alumno.last_name }}"
                    },
                    legend: {
                        position: 'bottom'
                    }
                }
            }
        });
    });
</script>

<div class="container-fluid d-flex">
    <a href="/dashboard/{{ grupo.numero }}" type="button" class="btn px-4 ms-auto mb-5 fs-2 fw-medium text-center form-control-lg rounded-pill btn-light shadow">regresar</a>
</div>

{% endblock %}