@font-face {
    font-family: "League Spartan";
    src: url("../ttf/League Spartan.ttf") format("woff2 supports variations"),
         url("../ttf/League Spartan.ttf") format("woff2-variations");
    font-weight: 100 1000;
  }

:root {
    --bs-body-font-family: "League Spartan";
}

.bg-blur {
    background: radial-gradient(circle at 25% -8%, rgb(36, 15, 70), rgb(4, 2, 8) 45%);
    background-attachment: fixed;
}

.bg-purple {
    --bs-btn-bg: rgba(54, 22, 105, 1);
    --bs-btn-hover-bg: rgba(54, 22, 105, 0.7);
    --bs-btn-hover-border-color: rgba(54, 22, 105, 0.7);
}

:not(.btn-check)+.btn:active.bg-purple {
    --bs-btn-active-bg: rgba(54, 22, 105, 0.5);
    --bs-btn-active-border-color: rgba(54, 22, 105, 0.5);
}

.logo {
    filter: invert(1);
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}